<app-header></app-header>
<div class="conteudo">
    <div class="sobre">
        <h1>Sobre Nós</h1>
        <p>Na Pizzaria Dom Grudento, nossa missão é oferecer as pizzas mais deliciosas e autênticas, feitas com os ingredientes mais frescos e um toque especial de amor e tradição.</p>
    </div>
    <div class="column">
        <div class="historia">
                <h1>Nossa História</h1>
                <p>Fundada em 1980, a Pizzaria Dom Grudento começou como um pequeno restaurante de bairro e rapidamente ganhou fama pelas suas receitas únicas e saborosas. Nosso fundador, Giovanni Grudento, trouxe suas receitas familiares diretamente da Itália e combinou-as com ingredientes frescos locais para criar uma experiência culinária inigualável.</p>
        </div>
        <div class="valores">
            <h1>Nossos Valores</h1>
            <p>Valorizamos a qualidade, a autenticidade e a satisfação do cliente acima de tudo. Nossa equipe dedica-se a garantir que cada pizza servida seja uma obra de arte culinária, feita com paixão e atenção aos detalhes. Acreditamos que cada cliente deve sair de nossa pizzaria com um sorriso no rosto e a vontade de voltar.</p>
        </div>
    </div>
</div>

