:host{
    display: flex;
    width: 20%;
    height: 40%;
    background-color: rgba(128, 128, 128, 0.549);
    border-radius: 15px;
    a{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        .imagem{
            margin: auto 0;
            width: 70%;
            
            img{
                width: 100%;
            }
        }
        p{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}