@import '../../../assets/colors/colors.scss';

:host{
    
    .infos{
        padding-left: 15px;
        padding-right: 15px;
        border: 2px solid $cor-secundaria;
        display: flex;
        align-items: center;
        top: 0;
        background-color: $cor-primaria;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 100px;
        overflow: hidden;
        .left{
            height: 100%;
            img{
                height: 100%;
            }
        }
        .right{
            color: white;
            h1{
                margin-left: 20px;
                color: $cor-secundaria;
                text-shadow: 2px 2px black; 
            }
            span{
                margin-left: 20px;
                
            }
        }
        
    }
}

@media only screen and (max-width: 600px) {
      :host{
        margin: 0 auto;
        width: 99%;
        .infos{
            padding: 0;
            border: 1px solid $cor-secundaria;
            
        }
      }     
    
}