@import '../../../assets/colors/colors.scss';

:host{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100vh; 
    align-items: center;
    background-color: $cor-primaria;
        
        .Card{
            display: flex;
            flex-direction: row;
            font-weight: bold;
            color: rgb(255, 255, 255);
            height: 75%;
            width: 70%;
            background-color: $cor-primaria;
            border-radius: 15px;
            border: solid 2px $cor-secundaria;
            margin-top: 50px;
            z-index: 1;
            .Left-card{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-top: 50px;
                width: 60%;
                height: 90%;
                h1{
                   padding-left: 25px; 
                   font-size: 2.5rem;
                }
                span{
                    padding-left: 25px;
                    font-size: 1.2rem;
                }
                .preco{
                   padding-top: 150px;
                   padding-right: 25px;
                    text-align: end;
                }
                button{
                    align-items: flex-end;
                    margin: 0 auto;
                    margin-bottom: 100px;
                    width: 60%;
                    height: 70px;
                    border-radius: 15px;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: white;
                    background-color: $cor-secundaria;
                }
                button:hover {
                    cursor: pointer;
                }
                button:active {
                    position: relative;
                    top: 1px;
                }
            }
            .Rigth-card{
                display: flex;
                width: 500px;
                margin-right: 20px;
                align-items: center;
                img{
                    border-radius: 15px;
                    width: 100%;
                    height: 60%;
                    
                }
            }
        }
        
}
@media only screen and (max-width: 600px) {
    
    :host{
        
        .Card{
            width: 95%;
            height: 80%;
            flex-direction: column-reverse;
            .Left-card{
                bottom: 0;
                width: 90%;
                padding-top: 0px;
                h1{
                    font-size: 2rem;
                 }
            }
            .Rigth-card{
                display: flex;
                position: relative;
                width: 300px; 
                height: 200px;
                width: 97%;
                margin: 0 auto;
                margin-bottom: 50px;
                height: 330px;
                overflow: hidden;
                img{
                   
                    height: 100%;
                }
            }
        }
    }
  
}

