@import '../../../assets/colors/colors.scss';

:host{
    display: flex;
    background-image: url("../../../assets/images/9824651.jpg");
    background-size: cover;
    background-position: center; 
    width: 100%; 
    height: 100vh; 
    align-items: center;
    justify-content: center;

        .Card{
            display: flex;
            flex-direction: row;
            font-weight: bold;
            color: rgb(255, 255, 255);
            height: 700px;
            width: 70%;
            background-color: $cor-primaria;
            border-radius: 15px;
            border: solid 2px $cor-secundaria;

            .Left-card{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-top: 50px;
                margin: 0 auto;
                width: 60%;
                height: 100%;
                h1{
                   padding-left: 25px; 
                   font-size: 2.5rem;
                }
                span{
                    padding-left: 25px;
                    font-size: 1.9rem;
                }
                .preco{
                   padding-top: 150px;
                   padding-right: 25px;
                    text-align: end;
                }
                button{
                    align-items: flex-end;
                    margin: 0 auto;
                    margin-bottom: 100px;
                    width: 60%;
                    height: 70px;
                    border-radius: 15px;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: white;
                    background-color: $cor-secundaria;
                }
                button:hover {
                    cursor: pointer;
                }
                button:active {
                    position: relative;
                    top: 1px;
                }
            }
            .Rigth-card{
                display: flex;
                width: 50%;
                align-items: center;
                img{
                    border-radius: 15px;
                    width: 98%;
                    height: 60%;
                    object-fit: cover;
                }
            }
        }
        
}