<app-header></app-header>

<div class="Card" *ngFor="let produto of produtos">
    <div class="Left-card">
        <h1>
            {{produto.produto}}
        </h1>
        <span class="descricao">
            Ingredientes : {{produto.descricao}}
        </span>
        <span class="preco">
            R$: {{produto.preco}}
        </span>
        <button (click)="adicionarId(produto.idProduto)">
            Comprar
        </button>
    </div>
    <div class="Rigth-card">
        <img src="{{produto.imagem}}" alt="{{produto.imagem}}">
    </div>
</div>

<app-card-shop></app-card-shop>