<app-header></app-header>
<div class="topshape">
</div>
<div class="conteudo">

  <div class="left">

    <h1>Dom <br><br><br>Grudento</h1>

    <h2>A mais saborosa<br>

    <span>Pizza</span> da Região</h2>

    <button>Ver Cardápio</button>

    <div class="number">

      <img src="https://i.pinimg.com/originals/81/45/bd/8145bd48b6b0593d01d69d499d2a1f8f.png" alt="">
      <span>(11) 94025-0807</span>
    </div>

  </div>

  <div class="right">
    <div class="container">
       <img src="../../../assets/images/file.png" alt="">
       <div class="card">
        <div class="top">
          <h1>Promoção</h1>
        </div>
        <div class="bottom">
          <div class="titulo">
            <h1>Pizza Malagueta + coca cola 2L</h1>
          </div>
          <div class="preco">
            <h2>R$ 42.00</h2>
            <button (click)="adicionar()">Peça Já</button>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>