@import '../../../assets/colors/colors.scss';

:host{
    display: flex; 
    flex-direction: column; 
    background-image: url("/assets/images/9824651.jpg"); 
    background-size: cover;
    background-position: center; 
    width: 100%; 
    height: 100%; 
    color: rgb(255, 255, 255);
    align-items: center;
    
        .background{
            display: flex;
            flex-direction: column; 
            background-color: $cor-primaria;
            width: 800px;
            margin-top: 20px ;
            align-items: center;
            padding-bottom: 25px;
            border: solid 2px $cor-secundaria;
            border-radius: 20px;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.66);
            margin-bottom: 100px;
            h1{
                display: flex;
                padding-top: 15px;
                font-size: 2.5rem;
                color: $cor-secundaria;
                text-shadow: 2px 2px black;
            }
            
            app-card:active{
                    position: relative;
                    top: 1.5px;
            }
        }    
        

        @media (max-width: 850px)  {
           
            .infos{
                width: 100%;
            }
            .background{
                width: 90%;
                box-shadow: 0px 0px 0px 0px;
                
            }
           
        }
        @media (max-width: 750px) {
            
    .background {
        width: 90%;
        box-shadow: 0px 0px 0px 0px;
    }
}
        
}