<div class="menu">
    <a routerLink="">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a>
    <app-card-admin
    routerLink="/admin/criarProduto"
    imagem="https://cdn-icons-png.flaticon.com/512/7585/7585478.png" 
    texto="Criar Produto">
    </app-card-admin>
    <app-card-admin
    imagem="https://cdn-icons-png.flaticon.com/512/5266/5266493.png" 
    texto="Alterar Produto"
    (click)="openDialog('alterar')"
    ></app-card-admin>
    <app-card-admin imagem="https://cdn-icons-png.flaticon.com/512/70/70757.png" 
    texto="Excluir Produto"
    (click)="openDialog('deletar')"
    ></app-card-admin>
    <app-card-admin 
    routerLink="/admin/listaProdutos"
    imagem="https://cdn-icons-png.flaticon.com/512/654/654116.png" 
    texto="Listar Produtos"></app-card-admin>
</div> 