<div class="menu">
    <a routerLink="">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a>
    <app-card-admin
    routerLink="/admin/criarProduto"
    imagem="https://www.guiaviagensbrasil.com/imagens/Imagem%20do%20mar%20calma%20e%20belo%20da%20Praia%20da%20Engenhoca-Itacar%C3%A9-Bahia-BA.jpg" 
    texto="Cadastro 1">
    </app-card-admin>
    <app-card-admin
    imagem="https://cdn-icons-png.flaticon.com/512/181/181524.png" 
    texto="Cadastro 2"
    (click)="openDialog('alterar')"
    ></app-card-admin>
    <app-card-admin imagem="https://cdn-icons-png.flaticon.com/512/181/181547.png" 
    texto="Cadastro 3"
    (click)="openDialog('deletar')"
    ></app-card-admin>
    <app-card-admin 
    routerLink="/admin/listaProdutos"
    imagem="https://cdn-icons-png.flaticon.com/512/181/181547.png" 
    texto="Cadastro 4"></app-card-admin>
</div> 