<div class="menu">
    <app-card-admin imagem="" 
    texto="Cadastro"></app-card-admin>
    <app-card-admin imagem="" 
    texto="Cadastro"></app-card-admin>
    <app-card-admin imagem="" 
    texto="Cadastro"></app-card-admin>
    <app-card-admin imagem="" 
    texto="Cadastro"></app-card-admin>
    <app-card-admin imagem="" 
    texto="Cadastro"></app-card-admin>
    <app-card-admin imagem="" 
    texto="Cadastro"></app-card-admin>
    <app-card-admin imagem="" 
    texto="Cadastro"></app-card-admin>
    <app-card-admin imagem="" 
    texto="Cadastro"></app-card-admin>
</div> 